.status {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-top: 0.3rem;
}

.status.blue {
  background: #007bff;
}

.status.disabled {
  background: #6c757d;
}

.status.yellow {
  background: #ffc107;
}

.status.red {
  background: #dc3545;
}

@media screen and (max-width: 640px) {
  .text-muted {
    font-size: 0.85rem;
  }
}