html,
body {
  color: #242c39;
  font-size: 16px;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.title-primary {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dee2e6;
}

.title-secondary {
  color: #6c757d !important;
}

a {
  color: #2061ae;
}

a:hover {
  color: #007bff;
  text-decoration: none !important;
  transition: 0.3s;
}

p,
span {
  word-break: break-all;
}

.nopadding {
  padding: 0;
  margin: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.jumbotron {
  padding: 1rem 1rem !important;
}

.logDetailText {
  white-space: pre-line !important;
  font-size: 15px;
}

/* Table Styles */

.table {
  width: 100% !important;
}

.logTable {
  margin-top: -110px;
}

@media (max-width: 768px) {
  .logTable {
    margin-top: -70px !important;
  }
}

.table-bordered th,
.table-bordered td,
.table th,
.table td,
.table thead th {
  border: 0;
  border-right: 1px solid #dee2e6;
}

.table thead th {
  border-bottom: 2px solid #dee2e6 !important;
}

.table-bordered th,
.table-bordered td:last-of-type,
.table thead th:last-of-type {
  border-right: 0;
}

@media screen and (max-width: 992px) {
  .table-responsive-cols {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .table-responsive-cols th,
  .table-responsive-cols td {
    width: max-content !important;
  }
}

/* Custom Grid - Bootstrap Format */

.container-middle {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-middle {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container-middle {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-middle {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-middle {
    max-width: 1300px;
  }
}

/* BOOTSTRAP OVERIDE */

/* Padding / Margin / Align */

.mt-n6,
.my-n6 {
  margin-top: -3.4rem !important;
}

/* Bootstrap Buttons */

.btn {
  margin-bottom: 15px;
}

.btn-group-toggle > .btn,
.btn-group-toggle > .btn-group > .btn {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .btn-xs-block {
    display: block;
    width: 100%;
  }
}

@media (min-width: 576px) {
  .btn-sm-block {
    display: block;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .btn-md-block {
    display: block;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .btn-lg-block {
    display: block;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .btn-xl-block {
    display: block;
    width: 100%;
  }
}

.btn-primary {
  color: #fff;
  background-color: #2061ae !important;
  border-color: #2061ae !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #007bff!important;
  border-color: #007bff!important;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #2061ae!important;
  border-color: #2061ae!important;
  box-shadow: 0 0 0 0.2rem rgba(32, 97, 174, 0.5)!important;
}

.btn-outline-primary {
  color: #1861ac;
  border-color: #1861ac;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btnActions > button {
  width: 75px !important;
}

@media (max-width: 768px) {
  .nav-item {
    border-bottom: 1px solid #e9ecef;
  }

  .nav-item:last-child {
    border-bottom: 0;
  }

  .dropdown-menu {
    background-color: transparent;
    border: 0;
  }

  .dropdown-item {
    padding: 0.5rem 1rem;
    color: rgba(0, 0, 0, 0.5);
  }

  .dropdown-item:first-child {
    padding-top: 0;
  }
}

/* Bootstrap DataTable */

.dataTables_paginate,
.dataTables_info {
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}
/* Bootstrap Forms */

.form-control {
  margin-bottom: 15px;
}

.form-inline .form-control {
  width: 100%;
}

@media (max-width: 768px) {
  .dataTables_info {
    padding-bottom: 1em !important;
  }
}

.custom-control-label {
  vertical-align: super;
}

.field-validation-error {
  position: relative;
  width: 100%;
  display: block;
  z-index: 21;
  border-radius: 3px;
  background: #ff7c2c;
  color: #fff;
  font-size: 13px;
  text-align: center;
  padding: 5px 9px;
  left: 0;
}

.col-form-label {
  color: gray;
}

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid rgba(0, 123, 255, 0.52);
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}
