/* Tables */

.table {
  width: 100% !important;
}

.table-bordered th,
.table-bordered td,
.table th,
.table td,
.table thead th {
  border: 0;
  border-right: 1px solid #dee2e6;
}

.table thead th {
  border-bottom: 2px solid #dee2e6 !important;
  white-space: pre;
}

.table-bordered th,
.table-bordered td:last-of-type,
.table thead th:last-of-type {
  border-right: 0;
}

/* Buttons */

.btn {
  margin-bottom: 15px;
}

.btn-primary {
  color: #fff;
  background-color: #2061ae;
  border-color: #2061ae;
}

.btn-primary:hover {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #2061ae;
  border-color: #2061ae;
  box-shadow: 0 0 0 0.2rem rgba(32, 97, 174, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #459efe;
  border-color: #459efe;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #2061ae;
  border-color: #2061ae;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(32, 97, 174, 0.5);
}

.btn-success {
  color: #fff;
  background-color: #81b622;
  border-color: #81b622;
}

.btn-success:hover {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-success.disabled,
.btn-success:disabled {
  color: #fff;
  background-color: rgba(129, 182, 34, 0.7);
  border-color: rgba(129, 182, 34, 0.7);
}

.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.show>.btn-success.dropdown-toggle {
  color: #fff;
  background-color: #81b622;
  border-color: #81b622;
}

.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(129, 182, 34, 0.5);
}

.btn-info {
  color: #fff;
  background-color: #19a1db;
  border-color: #19a1db;
}

.btn-info:hover {
  color: #fff;
  background-color: #2061ae;
  border-color: #2061ae;
}

.btn-info:focus,
.btn-info.focus {
  color: #fff;
  background-color: #2061ae;
  border-color: #2061ae;
  box-shadow: 0 0 0 0.2rem rgba(32, 97, 174, 0.5);
}

.btn-info.disabled,
.btn-info:disabled {
  color: #fff;
  background-color: rgba(32, 97, 174, 0.7);
  border-color: rgba(32, 97, 174, 0.7);
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show>.btn-info.dropdown-toggle {
  color: #fff;
  background-color: #2061ae;
  border-color: #2061ae;
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(32, 97, 174, 0.5);
}

.btn-warning {
  color: white;
  background-color: #f28d35;
  border-color: #f28d35;
}

.btn-warning:hover {
  color: white;
  background-color: #ef801e;
  border-color: #ef801e;
}

.btn-warning:focus,
.btn-warning.focus {
  color: white;
  background-color: #ef801e;
  border-color: #ef801e;
  box-shadow: 0 0 0 0.2rem rgba(239, 128, 30, 0.5);
}

.btn-warning.disabled,
.btn-warning:disabled {
  color: white;
  background-color: rgba(242, 141, 53, 0.7);
  border-color: rgba(242, 141, 53, 0.7);
}

.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.show>.btn-warning.dropdown-toggle {
  color: #212529;
  background-color: #ef801e;
  border-color: #ef801e;
}

.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.show>.btn-warning.dropdown-toggle:focus {
  box-shadow: rgba(239, 128, 30, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #c70039;
  border-color: #c70039;
}

.btn-danger:hover {
  color: #fff;
  background-color: #a71d2a;
  border-color: #a71d2a;
}

.btn-danger:focus,
.btn-danger.focus {
  color: #fff;
  background-color: #a71d2a;
  border-color: #a71d2a;
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff;
  background-color: rgba(199, 0, 57, 0.5);
  border-color: rgba(199, 0, 57, 0.5);
}

.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show>.btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #a71d2a;
  border-color: #a71d2a;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(167, 29, 42, 0.5);
}

.btn-light {
  color: #666;
  background-color: #cbd3da;
  border-color: #cbd3da;
}

.btn-light:hover {
  color: #666;
  background-color: #bdc6ce;
  border-color: #bdc6ce;
}

.btn-light:focus,
.btn-light.focus {
  color: #666;
  background-color: #bdc6ce;
  border-color: #bdc6ce;
  box-shadow: 0 0 0 0.2rem rgba(189, 198, 206, 0.5);
}

.btn-light.disabled,
.btn-light:disabled {
  color: #666;
  background-color: rgba(189, 198, 206, 0.7);
  border-color: rgba(189, 198, 206, 0.7);
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show>.btn-light.dropdown-toggle {
  color: #666;
  background-color: #bdc6ce;
  border-color: #bdc6ce;
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(189, 198, 206, 0.5);
}

.btn-outline-primary {
  color: #2061ae;
  border-color: #2061ae;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #2061ae;
  border-color: #2061ae;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(32, 97, 174, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: rgba(32, 97, 174, 0.7);
  background-color: rgba(32, 97, 174, 0.7);
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #2061ae;
  border-color: #2061ae;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(32, 97, 174, 0.5);
}

.btn-outline-success {
  color: #81b622;
  border-color: #81b622;
}

.btn-outline-success:hover {
  color: #fff;
  background-color: #81b622;
  border-color: #81b622;
}

.btn-outline-success:focus,
.btn-outline-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(129, 182, 34, 0.5);
}

.btn-outline-success.disabled,
.btn-outline-success:disabled {
  color: rgba(129, 182, 34, 0.7);
  background-color: rgba(129, 182, 34, 0.7);
}

.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show>.btn-outline-success.dropdown-toggle {
  color: #fff;
  background-color: #81b622;
  border-color: #81b622;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(129, 182, 34, 0.5);
}

.btn-outline-info {
  color: #19a1db;
  border-color: #19a1db;
}

.btn-outline-info:hover {
  color: #fff;
  background-color: #19a1db;
  border-color: #19a1db;
}

.btn-outline-info:focus,
.btn-outline-info.focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
  color: rgba(25, 161, 219, 0.7);
  background-color: rgba(25, 161, 219, 0.7);
}

.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show>.btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #19a1db;
  border-color: #19a1db;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-warning {
  color: #f28d35;
  border-color: #f28d35;
}

.btn-outline-warning:hover {
  color: white;
  background-color: #f28d35;
  border-color: #f28d35;
}

.btn-outline-warning:focus,
.btn-outline-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(242, 141, 53, 0.5);
}

.btn-outline-warning.disabled,
.btn-outline-warning:disabled {
  color: rgba(242, 141, 53, 0.7);
  background-color: rgba(242, 141, 53, 0.7);
}

.btn-outline-warning:not(:disabled):not(.disabled):active,
.btn-outline-warning:not(:disabled):not(.disabled).active,
.show>.btn-outline-warning.dropdown-toggle {
  color: white;
  background-color: #f28d35;
  border-color: #f28d35;
}

.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-warning.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(242, 141, 53, 0.5);
}

.btn-outline-danger {
  color: #c70039;
  border-color: #c70039;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #c70039;
  border-color: #c70039;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
  box-shadow: rgba(199, 0, 57, 0.5);
}

.btn-outline-danger.disabled,
.btn-outline-danger:disabled {
  color: rgba(199, 0, 57, 0.7);
  background-color: rgba(199, 0, 57, 0.7);
}

.btn-outline-danger:not(:disabled):not(.disabled):active,
.btn-outline-danger:not(:disabled):not(.disabled).active,
.show>.btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #c70039;
  border-color: #c70039;
}

.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(199, 0, 57, 0.5);
}

.btn-outline-light {
  color: #cbd3da;
  border-color: #cbd3da;
}

.btn-outline-light:hover {
  color: #666;
  background-color: #cbd3da;
  border-color: #cbd3da;
}

.btn-outline-light:focus,
.btn-outline-light.focus {
  box-shadow: 0 0 0 0.2rem rgba(203, 211, 218, 0.5);
}

.btn-outline-light.disabled,
.btn-outline-light:disabled {
  color: rgba(203, 211, 218, 0.7);
  background-color: rgba(203, 211, 218, 0.7);
}

.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show>.btn-outline-light.dropdown-toggle {
  color: #8a9baa;
  background-color: #cbd3da;
  border-color: #cbd3da;
}

.btn-outline-light:not(:disabled):not(.disabled):active:focus,
.btn-outline-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(203, 211, 218, 0.5);
}

.btn-link {
  font-weight: 400;
  color: #2061ae;
  text-decoration: none;
}

.btn-link:hover {
  color: #007bff;
  text-decoration: underline;
}

.btn-link:focus,
.btn-link.focus {
  text-decoration: underline;
  box-shadow: none;
}

.btn-link:disabled,
.btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.btn-group-toggle>.btn,
.btn-group-toggle>.btn-group>.btn {
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .btn-xs-block {
    display: block;
    width: 100%;
  }
}

@media (min-width: 576px) {
  .btn-sm-block {
    display: block;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .btn-md-block {
    display: block;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .btn-lg-block {
    display: block;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .btn-xl-block {
    display: block;
    width: 100%;
  }
}

/* Forms */

.form-control {
  margin-bottom: 15px;
}

.form-inline .form-control {
  width: 100%;
}

.input-group-text {
  height: calc(1.5em + 0.75rem + 2px);
}

.custom-control-label {
  vertical-align: super;
}

.field-validation-error {
  position: relative;
  width: 100%;
  display: block;
  z-index: 21;
  border-radius: 3px;
  background: #ff7c2c;
  color: #fff;
  font-size: 13px;
  text-align: center;
  padding: 5px 9px;
  left: 0;
}

.col-form-label {
  color: gray;
}

/* Cards */

.card .card-header.version {
  border-bottom: 0;
  background: transparent;
  color: #007bff;
}

.card .card-header.version:hover {
  color: #007bff;
  cursor: pointer;
}

.card .card-header.version[aria-expanded="true"] {
  background: #f1f1f1;
}

/* Text */

.lead {
  color: gray;
}

.text-primary {
  color: #2061ae !important;
}

a.text-primary:hover,
a.text-primary:focus {
  color: #007bff !important;
}

.text-secondary {
  color: #6c757d !important;
}

a.text-secondary:hover,
a.text-secondary:focus {
  color: #494f54 !important;
}

.text-success {
  color: #81b622 !important;
}

a.text-success:hover,
a.text-success:focus {
  color: #28a745 !important;
}

.text-info {
  color: #19a1db !important;
}

a.text-info:hover,
a.text-info:focus {
  color: #2061ae !important;
}

.text-warning {
  color: #f28d35 !important;
}

a.text-warning:hover,
a.text-warning:focus {
  color: #ef801e !important;
}

.text-danger {
  color: #c70039 !important;
}

a.text-danger:hover,
a.text-danger:focus {
  color: #a71d2a !important;
}

.text-light {
  color: #f8f9fa !important;
}

a.text-light:hover,
a.text-light:focus {
  color: #cbd3da !important;
}

.text-dark {
  color: #131826 !important;
}

a.text-dark:hover,
a.text-dark:focus {
  color: #232b44 !important;
}

/* Badge */

.card .media-body .badge-primary {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.badge-primary {
  color: #fff;
  background-color: #2061ae;
}

a.badge-primary:hover,
a.badge-primary:focus {
  color: #fff;
  background-color: #2061ae;
  box-shadow: 0 0 0 0.2rem rgba(32, 97, 174, 0.5);
}

a.badge-primary:focus,
a.badge-primary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(32, 97, 174, 0.5);
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

a.badge-secondary:hover,
a.badge-secondary:focus {
  color: #fff;
  background-color: #545b62;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

a.badge-secondary:focus,
a.badge-secondary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.badge-success {
  color: #fff;
  background-color: #81b622;
}

a.badge-success:hover,
a.badge-success:focus {
  color: #fff;
  background-color: #81b622;
  box-shadow: 0 0 0 0.2rem rgba(125, 184, 39, 0.5);
}

a.badge-success:focus,
a.badge-success.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(125, 184, 39, 0.5);
}

.badge-info {
  color: #fff;
  background-color: #19a1db;
}

a.badge-info:hover,
a.badge-info:focus {
  color: #fff;
  background-color: #19a1db;
  box-shadow: 0 0 0 0.2rem rgba(25, 161, 219, 0.5);
}

a.badge-info:focus,
a.badge-info.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(25, 161, 219, 0.5);
}

.badge-warning {
  color: white;
  background-color: #f28d35;
}

a.badge-warning:hover,
a.badge-warning:focus {
  color: white;
  background-color: #ef801e;
  box-shadow: 0 0 0 0.2rem rgba(239, 128, 30, 0.5);
}

a.badge-warning:focus,
a.badge-warning.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(239, 128, 30, 0.5);
}

.badge-danger {
  color: #fff;
  background-color: #c70039;
}

a.badge-danger:hover,
a.badge-danger:focus {
  color: #fff;
  background-color: #c70039;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

a.badge-danger:focus,
a.badge-danger.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.badge-light {
  color: #545768;
  background-color: #f2f2f2;
}

a.badge-light {
  color: #2061ae;
  background-color: #f2f2f2;
}

a.badge-light:hover,
a.badge-light:focus {
  color: #007bff;
  background-color: #f2f2f2;
  box-shadow: 0 0 0 0.2rem rgba(242, 242, 242, 0.7);
}

a.badge-light:focus,
a.badge-light.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(242, 242, 242, 0.7);
}

.badge-dark {
  color: #fff;
  background-color: #131826;
}

a.badge-dark:hover,
a.badge-dark:focus {
  color: #fff;
  background-color: #131826;
  box-shadow: 0 0 0 0.2rem rgba(19, 24, 38, 0.5);
}

a.badge-dark:focus,
a.badge-dark.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(19, 24, 38, 0.5);
}

/* Extra */

.breadcrumb {
  background: #f8f9fa !important;
}

.jumbotron {
  padding: 1rem 1rem !important;
}

.toast {
  z-index: 1;
  min-width: 300px;
  position: fixed;
  top: 10px;
  right: 10px;
}

/* Control Button Set */

.btn-simple {
  color: #646464 !important;
  background: transparent !important;
  border: none !important;
  cursor: pointer;
  padding: .25rem .35rem;
  box-shadow: none !important;
}

.hover-primary:hover {
  color: #2061ae !important;
}

.hover-success:hover {
  color: #81b622 !important;
}

.hover-info:hover {
  color: #19a1db !important;
}

.hover-action:hover,
.hover-action.active {
  color: #f2695c !important;
}

.hover-danger:hover {
  color: #c70039 !important;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: none !important;
}

.swal2-close:focus{
  box-shadow: none !important;
  overflow: hidden;
  outline: none;
}