@model MenuListViewModel
@{
    ViewData[ViewDataNames.Title] = "Menü";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}
<link rel="stylesheet" href="~/bundles/css/dataTable.css" asp-append-version="true" />
<h1 class="title-primary display-4">Menü Listesi</h1>
<div class="row align-items-center">
    <div class="col-md-3">
        <div class="form-group">
            <input type="text" id="menu-search" class="form-control" value="" placeholder="Menü Adı.." />
        </div>
    </div>
    <div class="form-group col-md-2">
        <button type="button" class="btn btn-primary btn-xs-block" id="menu-search-button">Ara</button>
    </div>
    @if (Model.IsAuthorized)
    {
        <div class="form-group col-md-7">
            <a class="btn btn-simple btn-sm hover-success float-right" href="@Url.Action(ApplicationControllerActionNames.Add, ControllerNames.Menu)">
                <i class="fa fa-plus" aria-hidden="true"></i> @ButtonTextNames.Add
            </a>
        </div>
    }
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered" id="menu-table">
            <caption class="hide">Menü Listesi</caption>
            <thead>
                <tr>
                    <th scope="col" data-column="Name">Menü Adı</th>
                    <th scope="col" data-column="ParentName">Üst Menü</th>
                    <th scope="col" data-column="Link">Link</th>
                    <th scope="col" data-column="Order">Sıra</th>
                    <th scope="col" data-column="Group">Menü Grubu</th>
                    <th scope="col" data-column="Icon">Simge</th>
                    <th scope="col" data-column="Description">Açıklama</th>
                    <th scope="col" data-column="ModifiedDate">Güncellenme Tarihi</th>
                    <th scope="col"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/bundles/js/dataTable.min.js" asp-append-version="true"></script>
    <script src="~/bundles/js/menu.min.js" asp-append-version="true"></script>
}