<ul class="list-group list-group-light list-group-flush scrollspy">
    <li class="list-group-item">
        <a class="list-group-item list-group-item-action d-flex align-items-center" asp-controller="Samples" asp-action="Buttons">
            <i class="fa fa-dot-circle pr-2" aria-hidden="true"></i> Düğmeler
        </a>
    </li>
    <li class="list-group-item">
        <a class="list-group-item list-group-item-action d-flex align-items-center" asp-controller="Samples" asp-action="Forms">
            <i class="fa fa-align-justify pr-2" aria-hidden="true"></i> Formlar
        </a>
        <ul class="list-group-light aside-sub-menu">
            <li class="list-group-light-item">
                <a href="#formLayout">Yerleşim</a>
            </li>
            <li class="list-group-light-item">
                <a href="#formInput">Girdi Tipleri</a>
            </li>
            <li class="list-group-light-item">
                <a href="#formValidation">Form Doğrulamaları</a>
            </li>
        </ul>
    </li>
    <li class="list-group-item">
        <a class="list-group-item list-group-item-action d-flex align-items-center" asp-controller="Samples" asp-action="Tables">
            <i class="fa fa-table pr-2" aria-hidden="true"></i> Tablolar
        </a>
        <ul class="list-group-light aside-sub-menu">
            <li class="list-group-light-item">
                <a href="#standardBsTablo">Standart Bootstrap Tablo</a>
            </li>
            <li class="list-group-light-item">
                <a href="#bsScrollTablo">Bootstrap Scroll Tablo</a>
            </li>
            <li class="list-group-light-item">
                <a href="#dataTable">DataTable</a>
            </li>
        </ul>
    </li>
    <li class="list-group-item">
        <a class="list-group-item list-group-item-action d-flex align-items-center" asp-controller="Samples" asp-action="Notifications">
            <i class="fa fa-bell pr-2" aria-hidden="true"></i> Bilgilendirme Elementleri
        </a>
        <ul class="list-group-light aside-sub-menu">
            <li class="list-group-light-item">
                <a href="#toast">Toast</a>
            </li>
        </ul>
    </li>
</ul>