
@{
    ViewData[ViewDataNames.Title] = "Düğmeler";
}

<h1 class="display-4 title-primary">Düğmeler</h1>
<div class="row flex-md-row flex-column-reverse">
    <div class="col-md-9 col-12">
        <div class="my-3">
            <strong>Detay:</strong> <button class="btn btn-link" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Detay"><i class="far fa-eye" aria-hidden="true"></i></button>
        </div>
        <div class="my-3">
            <button type="button" class="btn btn-outline-success">Düzenle</button>
        </div>
        <div class="my-3">
            <button type="button" class="btn btn-success">Kaydet</button>
            <button type="button" class="btn btn-success">Güncelle</button>

        </div>
        <div class="my-3">
            <button type="button" class="btn btn-primary">Arama</button>
            <button type="button" class="btn btn-primary">Aç</button>
            <button type="button" class="btn btn-primary">Oluştur</button>
            <button type="button" class="btn btn-primary">Dönüştür</button>
            <button type="button" class="btn btn-primary">Göster</button>
        </div>
        <div class="my-3">
            <button type="button" class="btn btn-info">Yeni</button>
        </div>
        <div class="my-3">
            <button type="button" class="btn btn-danger">Sil</button>
        </div>
        <div class="my-3">
            <button type="button" class="btn btn-warning">Kaldır</button>
        </div>
        <div class="my-3">
            <button type="button" class="btn btn-outline-info">Popup</button>
        </div>
        <div class="my-3">
            <button type="button" class="btn btn-secondary">Diğer İşlemler</button>
        </div>
        <br />
        <br />
        <p>Kullanım alanları henüz yoktur.</p>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>
        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-outline-danger">Danger</button>
        <button type="button" class="btn btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-outline-light">Light</button>
        <button type="button" class="btn btn-outline-dark">Dark</button>
    </div>
    <aside class="col-md-3 col-12 mb-4 bg-white sticky-toc">
        <partial name="@PartialViewNames.SamplesSidebarMenu" />
    </aside>
</div>
