
@{
    ViewData[ViewDataNames.Title] = "Formlar";
}

<h1 class="title-primary display-4">Formlar</h1>
<div class="row flex-md-row flex-column-reverse">
    <div class="col-md-9 col-12">
        <h2 class="font-weight-light text-primary my-3" id="formLayout">Yerleşim</h2>
        <div class="col-md-12">
            <p class="text-secondary"><strong>1. İki Kolonlu Form:</strong> Girdilerin uzun olmadığı formlar için kullanılması önerilir.</p>
        </div>
        <div class="bg-light p-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-form-label" for="formGroupExampleInput">Label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Placeholder">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="formGroupExampleInput2">Label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Placeholder">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-form-label" for="formGroupExampleInput3">Label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Placeholder">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="formGroupExampleInput4">Label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Placeholder">
                    </div>
                </div>
                <div class="col-md-12 my-4">
                    <button type="submit" class="btn btn-success">Güncelle</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-5">
            <p class="text-secondary">
                <strong>2. Hibrit Form:</strong> Girdilerin uzun olabildiği formlar için kullanılması önerilir.<br />
                Uzun olan girdi alanı için <span class="badge badge-warning">row</span> ve <span class="badge badge-warning">col-</span> yapısı kullanılmalıdır.
            </p>
        </div>
        <div class="bg-light p-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-form-label" for="formGroupExampleInput5">Label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="Placeholder">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label" for="formGroupExampleInput6">Label</label>
                            <input type="text" class="form-control" id="formGroupExampleInput6" placeholder="Placeholder">
                        </div>
                        <div class="col-md-6">
                            <label class="col-form-label" for="formGroupExampleInput7">Label</label>
                            <input type="text" class="form-control" id="formGroupExampleInput7" placeholder="Placeholder">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="formGroupExampleInput14">Label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput14" placeholder="Placeholder">
                    </div>
                </div>
                <div class="col-md-12 my-4">
                    <button type="submit" class="btn btn-success">Güncelle</button>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-5">
            <p class="text-secondary">
                <strong>3. Tek Kolonlu Form:</strong> Girdilerin hepsinin uzun olduğu alanlarda kullanılır.
            </p>
        </div>
        <div class="bg-light p-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-form-label" for="formGroupExampleInput8">Label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput8" placeholder="Placeholder">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="formGroupExampleInput9">Label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput9" placeholder="Placeholder">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="formGroupExampleInput10">Label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput10" placeholder="Placeholder">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="formGroupExampleInput11">Label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput11" placeholder="Placeholder">
                    </div>
                </div>
                <div class="col-md-12 my-4">
                    <button type="submit" class="btn btn-success">Güncelle</button>
                </div>
            </div>
        </div>
        <h2 class="font-weight-light text-primary mt-5 mb-3" id="formInput">Girdi Tipleri</h2>
        <div class="bg-light p-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-form-label" for="formGroupExampleInput12">Label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput12" placeholder="Placeholder">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="exampleFormControlSelect1">Label</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-form-label" for="validationCustomUsername">Label</label>
                        <div class="position-relative">
                            <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required="">
                            <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-html="true" title="Tooltip Text">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="url">URL</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon">https://example.com/url/</span>
                            </div>
                            <input type="text" class="form-control" id="url" aria-describedby="inputGroupPrepend1" required="">
                            <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-html="true" title="Tooltip Text">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                            </button>
                            <div class="invalid-feedback">
                                Hata mesajı.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-form-label" for="exampleFormControlTextarea1">Label</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
                    </div>
                </div>
                <div class="col-md-12 my-4">
                    <button type="submit" class="btn btn-success">Güncelle</button>
                </div>
            </div>
        </div>
        <h2 class="font-weight-light text-primary mt-5 mb-3" id="formValidation">Form Doğrulamaları</h2>
        <div class="bg-light p-3">
            <div class="row needs-validation was-validated">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-form-label" for="formGroupExampleInput13">Label</label>
                        <input type="text" class="form-control" id="formGroupExampleInput13" placeholder="Placeholder" required="">
                        <div class="invalid-feedback">
                            Hata mesajı.
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="exampleFormControlSelect2">Label</label>
                        <select class="form-control custom-select" id="exampleFormControlSelect2" required="">
                            <option selected="" disabled="" value="">Seçin</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <div class="invalid-feedback">
                            Hata mesajı.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-form-label" for="validationCustomUsername1">Label</label>
                        <div class="position-relative">
                            <input type="text" class="form-control" id="validationCustomUsername1" aria-describedby="inputGroupPrepend3" required="">
                            <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-html="true" title="Tooltip Text">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                            </button>
                            <div class="invalid-feedback">
                                Hata mesajı.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" for="url2">URL</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon">https://example.com/url/</span>
                            </div>
                            <input type="text" class="form-control" id="url2" aria-describedby="inputGroupPrepend2" required="">
                            <button type="button" class="btn btn-white btn-sm" data-toggle="tooltip" data-html="true" title="Tooltip Text">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                            </button>
                            <div class="invalid-feedback">
                                Hata mesajı.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="col-form-label" for="exampleFormControlTextarea2">Label</label>
                        <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" required=""></textarea>
                        <div class="invalid-feedback">
                            Hata mesajı.
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck2" required="">
                        <label class="custom-control-label" for="customCheck2">Check this custom checkbox</label>
                        <div class="invalid-feedback">
                            Hata mesajı.
                        </div>
                    </div>
                </div>
                <div class="col-md-12 my-4">
                    <button type="submit" class="btn btn-success">Güncelle</button>
                </div>
            </div>
        </div>
    </div>
    <aside class="col-md-3 col-12 mb-4 bg-white sticky-toc">
        <partial name="@PartialViewNames.SamplesSidebarMenu" />
    </aside>
</div>