@{
    ViewData[ViewDataNames.Title] = "Arayüz Kılavuzu";
}

<h1 class="display-4 title-primary">Arayüz Kılavuzu</h1>
<p class="title-secondary">Site içerisinde kullanılacak elementlerin örnek yapılarına buradan ulaşabilirsiniz.</p>

<div class="row flex-md-row flex-column-reverse">
    <div class="col-md-9 col-12">

    </div>
    <aside class="col-md-3 col-12 mb-4 bg-white sticky-toc">
        <partial name="@PartialViewNames.SamplesSidebarMenu" />
    </aside>
</div>