@{
    ViewData[ViewDataNames.Title] = "Bilgilendirme Elementleri";
}

<h1 class="display-4 title-primary">Bilgilendirme Elementleri</h1>
<div class="row flex-md-row flex-column-reverse">
    <div class="col-md-9 col-12">
        <h2 class="font-weight-light text-primary my-3" id="toast">Toast</h2>
        <div class="col-md-12">
            <h3 class="font-weight-light text-success">Başarılı</h3>
            <p>Toast Success: <span class="text-success">success</span> stil sınıfları eklenmelidir.</p>
            <div class="bd-example bg-light p-3 mb-2">
                <div class="toast success show" role="alert" aria-live="assertive" aria-atomic="false" data-delay="5000">
                    <div class="toast-header alert-success">
                        <strong class="mr-auto text-success">🎉 Başarılı</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span class="text-success" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        <p class="text-success">İşleminiz başarıyla gerçekleştirildi.</p>
                    </div>
                </div>
            </div>
            <div>
                <pre>
                <code>
&lt;div class=&quot;toast success&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot; aria-atomic=&quot;false&quot; data-delay=&quot;5000&quot;&gt;
&lt;div class=&quot;toast-header alert-success&quot;&gt;
&lt;strong class=&quot;mr-auto text-success&quot;&gt;🎉 Başarılı&lt;/strong&gt;
&lt;button type=&quot;button&quot; class=&quot;ml-2 mb-1 close&quot; data-dismiss=&quot;toast&quot; aria-label=&quot;Close&quot;&gt;
&lt;span class=&quot;text-success&quot; aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
&lt;/button&gt;
&lt;/div&gt;
&lt;div class=&quot;toast-body&quot;&gt;
&lt;p class=&quot;text-success&quot;&gt;İşleminiz başarıyla ger&ccedil;ekleştirildi.&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;
                </code>
            </pre>
                <h3 class="font-weight-light text-danger mt-5">Hata</h3>
                <p>Toast Danger: <span class="text-danger">danger</span> stil sınıfları eklenmelidir.</p>
                <div class="bd-example bg-light p-3 mb-2">
                    <div class="toast danger show" role="alert" aria-live="assertive" aria-atomic="false" data-delay="5000">
                        <div class="toast-header alert-danger">
                            <strong class="mr-auto text-danger">🛑 Hata</strong>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span class="text-danger" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="toast-body">
                            <p class="text-danger">İşleminiz gerçekleştirilemedi.</p>
                        </div>
                    </div>
                </div>
            </div>
            <pre>
            <code>
&lt;div class=&quot;toast danger&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot; aria-atomic=&quot;false&quot; data-delay=&quot;5000&quot;&gt;
&lt;div class=&quot;toast-header alert-danger&quot;&gt;
&lt;strong class=&quot;mr-auto text-danger&quot;&gt;🛑 Hata&lt;/strong&gt;
&lt;button type=&quot;button&quot; class=&quot;ml-2 mb-1 close&quot; data-dismiss=&quot;toast&quot; aria-label=&quot;Close&quot;&gt;
&lt;span class=&quot;text-danger&quot; aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
&lt;/button&gt;
&lt;/div&gt;
&lt;div class=&quot;toast-body&quot;&gt;
&lt;p class=&quot;text-danger&quot;&gt;İşleminiz ger&ccedil;ekleştirilemedi.&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;
        </code>
        </pre>
            <h3 class="font-weight-light text-warning mt-5">Uyarı</h3>
            <p>Toast Warning: <span class="text-warning">warning</span> stil sınıfları eklenmelidir.</p>
            <div class="bd-example bg-light p-3 mb-2">
                <div class="toast warning show" role="alert" aria-live="assertive" aria-atomic="false" data-delay="5000">
                    <div class="toast-header alert-warning">
                        <strong class="mr-auto text-warning">🔦 Dikkat</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span class="text-warning" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        <p class="text-warning">Doldurmadığınız alanlar var.</p>
                    </div>
                </div>
            </div>
            <pre>
            <code>
&lt;div class=&quot;toast warning&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot; aria-atomic=&quot;false&quot; data-delay=&quot;5000&quot;&gt;
&lt;div class=&quot;toast-header alert-warning&quot;&gt;
&lt;strong class=&quot;mr-auto text-warning&quot;&gt;🔦 Dikkat&lt;/strong&gt;
&lt;button type=&quot;button&quot; class=&quot;ml-2 mb-1 close&quot; data-dismiss=&quot;toast&quot; aria-label=&quot;Close&quot;&gt;
&lt;span class=&quot;text-warning&quot; aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
&lt;/button&gt;
&lt;/div&gt;
&lt;div class=&quot;toast-body&quot;&gt;
&lt;p class=&quot;text-warning&quot;&gt;Doldurmadığınız alanlar mevcut.&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;
                </code>
            </pre> <h3 class="font-weight-light text-info mt-5">Bilgi</h3>
            <p>Toast Info: <span class="text-info">info</span> stil sınıfları eklenmelidir.</p>
            <div class="bd-example bg-light p-3 mb-2">
                <div class="toast info show" role="alert" aria-live="assertive" aria-atomic="false" data-delay="5000">
                    <div class="toast-header alert-info">
                        <strong class="mr-auto text-info">💡 Bilgi</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span class="text-info" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                        <p class="text-info">Sonuçlar listelenmiştir.</p>
                    </div>
                </div>
            </div>
            <pre>
            <code>
&lt;div class=&quot;toast info&quot; role=&quot;alert&quot; aria-live=&quot;assertive&quot; aria-atomic=&quot;false&quot; data-delay=&quot;5000&quot;&gt;
&lt;div class=&quot;toast-header alert-info&quot;&gt;
&lt;strong class=&quot;mr-auto text-info&quot;&gt;💡 Bilgi&lt;/strong&gt;
&lt;button type=&quot;button&quot; class=&quot;ml-2 mb-1 close&quot; data-dismiss=&quot;toast&quot; aria-label=&quot;Close&quot;&gt;
&lt;span class=&quot;text-info&quot; aria-hidden=&quot;true&quot;&gt;&amp;times;&lt;/span&gt;
&lt;/button&gt;
&lt;/div&gt;
&lt;div class=&quot;toast-body&quot;&gt;
&lt;p class=&quot;text-info&quot;&gt;Sonu&ccedil;lar listelenmiştir.&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;
                </code>
            </pre>
        </div>
    </div>
    <aside class="col-md-3 col-12 mb-4 bg-white sticky-toc">
        <partial name="@PartialViewNames.SamplesSidebarMenu" />
    </aside>
</div>
<style>
    .toast {
        position: relative;
        top: auto;
        right: 0;
    }
</style>