<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file  -->
        <target xsi:type="File" name="FileAppender" fileName="D:\Logs\MxKobiCredit.Logs\nlog-all-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

        <target xsi:type="Mail"
            name="SmtpAppender"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"
            encoding="UTF-8"
            subject="(DEV) MX Kobi Credit Api Hatası"
            to="dev@test.activebuilder.com"
            from="dev@test.activebuilder.com"
            body="${message}${newline}"
            smtpUserName="dev@test.activebuilder.com"
            enableSsl="False"
            smtpPassword="123456"
            smtpAuthentication="Basic"
            smtpServer="test.activebuilder.com"
            smtpPort="587" />
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="FileAppender" />
        <logger name="*" minlevel="Error" writeTo="SmtpAppender" />

        <!--
    Nlog Min Levels (Trace en düşük, Fatal en yüksek seviye olmak üzere.)
    Fatal:	Something bad happened; application is going down
    Error:	Something failed; application may or may not continue
    Warn:	  Something unexpected; application will continue
    Info:	  Normal behavior like mail sent, user updated profile etc.
    Debug:	For debugging; executed query, user authenticated, session expired
    Trace:  For trace debugging; begin method X, end method X
    -->
    </rules>
</nlog>