<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <!-- write logs to file  -->
        <target xsi:type="File" name="FileAppender" fileName="\\AbLogSrv-01\LOG\WEB\TEST\devportal.activebuilder.local\devportal-web-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}${newline}" />

        <target xsi:type="Mail"
            name="SmtpAppender"
            encoding="UTF-8"
            subject="${hostname}: (PROD) Dev Portal Web Hatası"
            to="dev@test.activebuilder.com"
            from="dev@test.activebuilder.com"
            body="${logger} - ${message} ${newline}${newline} ${uppercase:${level}} ${newline} Date: ${longdate} ${newline}${newline} ${event-properties:item=EventId_Id} ${exception:format=tostring}"
            smtpUserName="dev@test.activebuilder.com"
            enableSsl="False"
            smtpPassword="123456"
            smtpAuthentication="Basic"
            smtpServer="test.activebuilder.com"
            smtpPort="587" />
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="FileAppender" />
        <logger name="*" minlevel="Error" writeTo="SmtpAppender" />
    </rules>
</nlog>