@model DatabaseTypeViewModel
@{
    ViewData[ViewDataNames.Title] = "Yeni Veritabanı Tipi";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}
<h1 class="title-primary display-4">Yeni Veritabanı Tipi</h1>

@using (Html.BeginForm(DatabaseTypeControllerActionNames.Add, ControllerNames.DatabaseType, FormMethod.Post, new { id = "databasetype-form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(x => x.DatabaseType.Name, new { @class = "col-form-label" })
                @Html.TextBoxFor(x => x.DatabaseType.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.DatabaseType.Name)
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <button type="submit" class="btn btn-success">Kaydet</button>
    </div>
}

@section Scripts{
    <script src="~/bundles/js/jquery-val.min.js" asp-append-version="true"></script>
}