@model DatabaseRedmineProjectsViewModel
@{
    ViewData[ViewDataNames.Title] = "Veritabanı Redmine Projeleri";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}
<link rel="stylesheet" href="~/bundles/css/dataTable.css" asp-append-version="true" />

<h1 class="title-primary display-4">Veritabanı Redmine Projeleri</h1>
<div class="d-lg-flex justify-content-between align-items-center">
    <p class="m-0"><span>Veritabanlarına tanımlı redmine projelerinin listesidir.</span></p>
    <div class="form-group">
        <button class="btn btn-simple btn-sm hover-action" id="addFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerime Ekle</button>
        <button class="btn btn-simple btn-sm hover-action active" id="deleteFavourite"><i class="fa fa-star" aria-hidden="true"></i> Favorilerimden Çıkar</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    </div>
</div>
<hr />
<input type="hidden" id="favouritePageName" name="favouritePageName" value="Veritabanı Redmine Projeleri" />
<input type="hidden" id="favouriteId" />
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            @Html.DropDownListFor(x => x.DatabaseGroupId, new SelectList(Model.DatabaseGroups, DropdownItemValue.Id, DropdownItemValue.Name), "Tüm Veritabanı Grupları", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <input type="text" id="database-search" class="form-control" value="" placeholder="Veritabanı Adı.." />
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <button class="btn btn-primary btn-xs-block" type="button" id="database-search-button">Ara</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered" id="redmine-project-table">
            <caption class="hide">Redmine Proje Listesi</caption>
            <thead>
                <tr>
                    <th scope="col" data-column="ProjectName">Proje Adı</th>
                    <th scope="col"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/bundles/js/dataTable.min.js" asp-append-version="true"></script>
    <script src="~/bundles/js/databaseRedmineProjects.min.js" asp-append-version="true"></script>
    <script src="~/bundles/js/favourite.min.js" asp-append-version="true"></script>
}