<tr>
    <td width="680" height="150" valign="top">
        <div style="width: 632px; display: block; font-family: Arial; font-size: 12px; color: #7c7f83; padding:29px 0 0 11px;">
            Merhaba,<br />
            <br />
            Şifrenizi değiştirmek için <a style="font-family:'Verdana',sans-serif; color:#097EC3 !important; font-size:16px; line-height:20px; text-decoration:none; font-weight:bold !important;" href="{{ResetUrl}}"><b>buraya tıklayın</b></a>
            <br />
            <br />
            <br />
            <br />
            <span style="font-size: 11px;">Bu e-postanın size isteğiniz dışında gönderildiğini düşünüyorsanız, dikkate almayınız.</span>
            <br />
            <br />
        </div>
    </td>
</tr>