@model DeploymentPackageViewModel
@{
    ViewData[ViewDataNames.Title] = "Başarılı Uygulama Versiyon Paketleri";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}
<link rel="stylesheet" href="~/bundles/css/dataTable.css" asp-append-version="true" />
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
}

<h1 class="title-primary display-4">Veritabanı Aktarım Paketleri</h1>
<hr />
<div class="row align-items-center">
    <div class="col-md-3">
        <div class="form-group">
            <select class="form-control" name="environmentList" id="versionEnvironment">
                <option value="">Ortam Seçiniz</option>
                <option class="dropdown-item" value="3">PreProd</option>
                <option class="dropdown-item" value="4">Prod</option>
            </select>
            <div class="invalid-feedback">Ortam alanı zorunludur.</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <select class="form-control " name="ApplicationList" id="application">
                <option value="">Uygulama Seçiniz...</option>
            </select>
            <div class="invalid-feedback">Uygulama alanı zorunludur.</div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <button class="btn btn-primary btn-xs-block" type="button" id="application-search-button">Ara</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered" id="deployment-project-table">
            <caption class="hide">Başarılı Uygulama Versiyon Paketleri Listesi</caption>
            <thead>
                <tr>
                    <th scope="col" data-column="Version">Versiyon</th>
                    <th scope="col"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/bundles/js/dataTable.min.js" asp-append-version="true"></script>

}