@model ApplicationNugetPackageViewModel
@{
    ViewData[ViewDataNames.Title] = "Yeni Uygulama Nuget Paketi";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}

<h1 class="title-primary display-4">Yeni Uygulama Nuget Paketi</h1>
<h3>@Model.ApplicationNugetPackage.ApplicationName</h3>

@using (Html.BeginForm(ApplicationNugetPackageControllerActionNames.Add, ControllerNames.ApplicationNugetPackage, FormMethod.Post, new { id = "application-nugetpackage-form" }))
{
    @Html.HiddenFor(x => x.ApplicationNugetPackage.ApplicationId, new { name = "applicationId", id = "applicationId" });
    @Html.AntiForgeryToken()
    <div class="row">

        <div class="col-md-8">
            <div class="form-group">
                <label class="col-form-label" id="lbl-nuget">
                    Paket Adı(*)
                </label>
                <select class="form-control selectpicker" name="ApplicationNugetPackage.NugetPackageName" id="nugetPackagesId" data-live-search="true">
                    <option value="">Paket Seçiniz...</option>
                </select>
                @Html.ValidationMessageFor(m => m.ApplicationNugetPackage.NugetPackageName)

            </div>
            <div class="form-group">
                <label class="col-form-label">Paket Url:</label>
                <a href="" id="packageUrlId" target="_blank"></a>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <button type="submit" class="btn btn-success" id="btn-add">Kaydet</button>
    </div>
}

@section Scripts{
    <script src="~/bundles/js/jquery-val.min.js" asp-append-version="true"></script>
    <script src="~/bundles/js/bootstrap-select.min.js" asp-append-version="true"></script>
    <script src="~/js/applicationNugetPackage.js"></script>
}