@model SvnRepositoryFolderViewModel
@{
    ViewData[ViewDataNames.Title] = "Depo Oluştur";
    ViewBag.BreadCrumb = Model.BreadCrumbViewModel;
}
<h1 class="title-primary display-4">Svn Depoları</h1>
<div class="row">
    <div class="col-md-6">
        <form asp-action="@SvnAdminControllerActionNames.CreateSvnRepositoryFolder" method="post">
            <div class="form-group">
                <label asp-for="Folder.Name" class="col-form-label"></label>
                <input type="text" asp-for="Folder.Name" class="form-control" />
                <span asp-validation-for="Folder.Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Folder.PreRevpropChangeHookEnabled" class="col-form-label"></label>
                <input type="checkbox" asp-for="Folder.PreRevpropChangeHookEnabled" />
            </div>
            <div class="form-group">
                <label asp-for="Folder.PostCommitHookEnabled" class="col-form-label"></label>
                <input type="checkbox" asp-for="Folder.PostCommitHookEnabled" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success my-3">@ButtonTextNames.Save</button>
                <button type="button" class="btn btn-danger my-3" onclick="javascript: history.back();">@ButtonTextNames.Cancel</button>
            </div>
        </form>
    </div>
</div>